.block-info {
  display: flex;
  justify-content: space-between;
  margin: 100px 0 50px 0;
  &--col {
    text-align: center;
    margin: 0 20px;
    flex: 1;

    &-text {
      font-size: 15px;
      line-height: 26px;
    }

    &-title {
      font: 21px $font-regular;
      margin-bottom: 4px;
    }

    &-img {
      display: flex;
      justify-content: center;
      margin-bottom: 35px;

      img {
        @include media-breakpoint-up(xl) {
          height: 151px;
        }

        @include media-breakpoint-down(lg) {
          height: 110px;
        }
      }
    }
  }
}

.block-info--mobile {
  border-radius: 4px;
  border: 1px solid $color-border;
  margin: 80px 0 50px 0;
  padding: 0 16px;
  text-transform: uppercase;
    &_link {
      font-size: 13px;
      line-height: 18px;
      color: $color-main;
      padding: 16px 20px 16px 0;
      display: flex;
      align-items: center;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 21px;
        height: 15px;
        width: 15px;
        background-repeat: no-repeat;
        @extend .icon-arrow;
      }

      img {
        width: 24px;
        height: 24px;
        margin-right: 10px;
      }
    }

    li {
      &:not(:first-child) {
        border-top: 1px solid $color-border;
      }
    }
}

