.block-title {
  font: 400 36px/1.1 $font-medium;
  margin-bottom: 5px;
  margin-top: 0;
  letter-spacing: -.3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include media-breakpoint-down(md) {
    font-size: 22px;
  }
}

.block-subtitle {
  color: $color-gray;
  font: 18px/1.4 $font-regular;
  @include media-breakpoint-down(md) {
    font-size: 16px;
  }
}
