$font-path              : '../fonts/';
$images-path            : '../images/';

$z-index-1              : 100;
$z-index-2              : 200;
$z-index-3              : 300;
$z-index-4              : 400;
$z-index-5              : 500;
$z-index-6              : 600;
$z-index-7              : 700;
$z-index-8              : 800;
$z-index-9              : 900;
$z-index-10             : 1000;

$grid-gutter            : 8px;

$color-background       : #f9fafb;
$color-main             : #212b36;
$color-main-hover       : #999999;
$color-main-focus       : #d32b4d;
$color-gray             : #919eab;
$color-red              : #ff2d55;
$color-menu             : #000000;
$color-link             : #ff2d55;
$color-link-gray        : #919eab;
$color-desc-gray        : #919eab;
$color-button-close     : #888888;
$color-border           : #e4e4e4;
$color-border-light     : #e2e2e2;

$font-regular           : 'yr_regular', Helvetica, Arial, sans-serif;
$font-medium            : 'yr_medium', Helvetica, Arial, sans-serif;
$font-size              : 14px;
$line-height            : 1.2;
$font-weight            : 400;

$grid-xs: 300px;
$grid-xxs: 300px;
